.parent {
    background-color: #f0f0f0;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.child {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; 
    gap: 5px;
}

.block {
    border: 1px solid #ddd;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    width: 100%;
    max-width: 45%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    flex: 1 1 45%;
}

.report-title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}

.row-1 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.success {
    display: flex;
    align-items: center;
    border: 1px solid green;
    background-color: green;
    color: white;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 2px 5px;
}

.success-icon {
    margin-left: 5px;
}

.report-duration {
    font-size: 14px;
    color: #666;
    margin-bottom: 15px;
}

.report-amount {
    font-size: 24px;
    font-weight: 700;
    color: #333;
    margin-bottom: 15px;
}

p {
    margin: 5px 0;
    font-size: 14px;
    color: #555;
}

hr {
    border: none;
    border-top: 1px solid #ddd;
    margin: 10px 0;
}

.change-red,
.change-green {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    margin-top: 10px;
    padding: 2px 5px;
    border-radius: 3px;
}

.change-red {
    border: 1px solid red;
    background-color: rgb(238, 140, 140);
    color: black;
}

.change-green {
    border: 1px solid green;
    background-color: rgb(118, 208, 118);
    color: black;
}

.arrow-icon-red {
    color: red;
    margin-right: 5px;
    height: 25px;
    width: 25px;
}

.arrow-icon-green {
    color: green;
    margin-right: 5px;
    height: 25px;
    width: 25px;
}

.data-red,
.data-green {
    color: inherit;
    margin-right: 5px;
}

.row-3 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}

.text {
    color: black;
}

.col-1, .col-2, .col-3 {
    flex: 1;
    min-width: 150px;
}

.col-2, .col-3 {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
